
/* experiment */
.wrapper > #body > #experiment {
    width: 100%;
    min-height: 10vh;
    display: flex;
    /* gap: 2%; */
    --width-left: 20%;
    --width-right: calc( 100% - var(--width-left) );
  }
  

#experiment ul {
  margin: auto;
  list-style-type: none;
  font-family: 'Segoe UI', sans-serif;
}

#experiment > .left > ul {
  width: 80%;
  text-align: right;
}

#experiment > .left > ul > li {
  font-weight: 700;
  padding-top: 1vh;
}

#experiment > .right > ul {
  font-family: 'Segoe UI', sans-serif;
  padding-left: 2%;
}

#experiment > .right > ul > li {
  padding-top: 1vh;
}