#project > a {
    text-decoration: none;
}

.project-list {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.item-block {
    --wh-block: 300px;
    width: var(--wh-block);
    height: var(--wh-block);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    /* float: left; */
    /* display: inline-block; */
    border-radius: 25px;
}
.item-block > .block {
    position: absolute;
    z-index: 101;
    background-color: black;
    border-radius: 25px;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.item-block > .representImage-1, .representImage-2, .representImage-3 { 
    width: 100%;
    height: 100%;
    border-radius: 25px;
    
    background-position: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.representImage-1 {
    background-image: url("../../assets/img/project/billdoan.png");
}

.representImage-2 {
    background-image: url("../../assets/img/project/geodatabase.png");
}

.representImage-3 {
    background-image: url("../../assets/img/project/UDQL_billdoan.png");
}

.animation::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* .item-block:hover .representImage {
    opacity: 0.2;
} */

.item-block:hover .animation,
.item-block:focus .animation {
  z-index: 100;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}




.block > a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.a::before {
    content: "";
    display: none;
    /* height: 100%;
    width: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}


.block:hover a, .block:focus a {
    display: block;
    z-index: 100;
    font-size: 40px;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .project-list {
        justify-content: space-around; 
    }    
    .item-block {
        margin-bottom: 1vh;
    }
}