/* skill */
#skill {
    width: 100%;
    min-height: 10vh;
    display: flex;
    /* gap: 2%; */
    --width-left: 20%;
    --width-right: calc( 100% - var(--width-left) );
  }
  
#skill > .left > ul {
  list-style-type: none;
  width: 80%;
  margin: auto; 
}

#skill > .left > ul > li {
  font-family: 'Segoe UI', sans-serif;
  text-align: right;
  font-weight: 700;
}

#skill > .right > ul {
  padding-left: 2%;
  list-style-type: none;
  font-family: 'Segoe UI', sans-serif;
}

#skill > .right > ul > li > ul {
  list-style-type: none;
}