* {
  padding: 0;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  --header-bgColor: rgb(93, 93, 186);
  --bg-color: #a8d0ed;
}
/* header */
.wrapper > #header {
  height: 15vh;
  background-color: var(--header-bgColor);
  box-shadow: 1px 1px 8px 2px grey;
}

.wrapper > #header > center {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 700;
  padding-top: 6vh;
  font-size: 6.5vh;
  color: aliceblue;
}


/* body */
.wrapper > #body {
  margin-top: 3vh;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}


/* #body > div {
  padding-top: 2vh;
} */

#body > div > .left {
  width: 20%;
  border-right: 3px solid var(--bg-color);
}


#body > div > .right {
  width: 80%;
}


h3 {
  color: whitesmoke;
  padding: 0.5vh 0vw 0.5vh 1vw;
}

.label {
  margin-top: 1vh;
  background-color: var(--header-bgColor);
  width: 200px;
}


/* Content element */
.stage {
  width: 100%;
  margin: auto;
  display: flex;
  gap: 2%;
  --width-left: 20%;
  --width-right: calc(100% - var(--width-left) - 2%);
}  
.stage > .left {
  border-right: 3px solid var(--bg-color);
  width: var(--width-left);
}

.stage > .right {
  width: var(--width-right);
}

/* Content style */
.standardfont {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
}

.standardcontent {
  font-weight: 700;
  width: 80%;
  margin: auto;
  text-align: right;
}

/* Block content */
.block-content {
  width: 100%;
}


@media screen and (max-width: 783px) {
 .stage {
  flex-wrap: wrap;
 } 
 .stage > .right {
  width: 90%;
  margin: auto;
 }
 .stage > .left {
  width: 90%;
  margin: auto;
  border: none;
 }

 .standardcontent {
  text-align: left;
 }
}

@media screen and (max-width: 500px) {
  .wrapper > #header > center {
  font-size: 4vh;
 }   
}